{% extends "WebApp/Base.html" %}
{% load static %}
{% block content %} 
<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-md-9">
            <div class="row"> 
                {% for prd in productos %}
                    <div class="col-md-4">
                        <div class="card mb-4" style="width: 100%;">
                            <img src="{{ prd.imagen.url }}" class="card-img-top" style="width: 100%; height: 256px; object-fit: cover;" alt="Imagen del producto">
                            <div class="card-body text-center">
                                <h5 class="card-title">{{ prd.nombre }}</h5>
                                <p class="card-text">{{ prd.precio }}€</p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="{% url 'CarroCompra:agregar' prd.id %}" class="btn btn-success">Añadir al carro</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3">
            {% if request.user.is_authenticated %}
                <div class="sticky-top" style="top: 20px;">
                    {% include "carro/widget.html" %}
                </div>
            {% else %}
                <div class="alert alert-warning" role="alert">
                    <h4 class="alert-heading">¡Atención!</h4>
                    <p>Para poder ver el carro de la compra, es necesario que inicie sesión.</p>
                    <hr>
                    <p class="mb-0">Si no tiene una cuenta, puede registrarse <a href="{% url 'Autenticacion' %}">aquí</a>.</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}